<h1 class="sunken_header">Log In</h1>

<form action="/auth/login" method="POST" class="auth_form bg_black">
  <div class="c_input">
    <label for="auth-email">Email</label>
    <input id="auth-email" type="email" name="email" placeholder="email">
  </div>
  <div class="c_input">
    <label for="auth-password">Password</label>
    <input id="auth-password" type="password" name="password" placeholder="password">
  </div>
  <button type="submit">Log in</button>
</form>
