<h1 class="sunken_header">Sign Up</h1>
<section class="bg_black lay_flex_end">

  <form action="/auth/signup" method="POST" class="auth_form bg_white">
    <div class="c_input mg_md_md">
      <label class="sr_only m_white" for="new-email">Email</label>
    <input id="new-email" type="email" name="email" placeholder="Email" class="m_white">
    </div>

    <div class="c_input mg_md_md">
      <label class="sr_only m_white" for="new-password">Password</label>
      <input id="new-password" type="password" name="password" placeholder="Password" class="m_white">
    </div>

    <div class="c_cta m_duo">
      <button type="submit" class="m_white">Sign Up</button>
      <a href="/auth/login" class="cta m_black">Log In</a>
    </div>

  </form>
</section>