<h1 class="sunken_header">Sign Up</h1>
<section class="bg_black">

  <form action="/auth/signup" method="POST" class="auth_form bg_black">
    <div class="c_input mg_md_md">
      <label class="sr_only" for="new-email">Email</label>
      <input id="new-email" type="email" name="email" placeholder="Email">
    </div>
    <div class="c_input mg_md_md">
      <label class="sr_only" for="new-name">Name</label>
      <input id="new-name" type="text" name="name" placeholder="Name">
    </div>
    <div class="c_input mg_md_md">
      <label class="sr_only" for="new-password">Password</label>
      <input id="new-password" type="password" name="password" placeholder="Password">
    </div>
    <div class="c_input mg_md_md">
      <input type="submit" value="Sign up">
    </div>
  </form>
</section>