<div>
  
  <% pearls.forEach(function(pearls) { %>
    <div>
      <h2><%= pearls.name %></h2>
      
      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pearls.name %>">
        <button type="submit">Add</button>
      </form>

    </div>
  <% }); %>
</div>
