<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pearl Syrup</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/initialize.css">
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <header>
      <h1>Rare Supply</h1>
    </header>

    <nav class="nav">
      

      <div class="sub-nav">
        <a href="/treasure">Explore</a>
      </div>
      
      <div class="sub-nav">
        <a href="/treasure/saved/day">Day</a>
        <a href="/treasure/saved/month">Month</a>
        <a href="/treasure/saved/year">Year</a>
        <a href="/profile">Profile</a>
      </div>
    </nav>

    <%- body %>
  </body>
</html>
