<%= `🔥: `, status  %> 

<h1 class="sunken_header">Profile</h1>

<div class="profile bg_black">
  <h2>Saved Images</h2>
  <nav>
    <a href="/treasure/saved/day">By Day</a>
    <a href="/treasure/saved/month">By Month</a>
    <a href="/treasure/saved/day">By Year</a>
  </nav>
</div>