<h1>Treasure</h1>

<% // console.log('❌⭐ Payload', PAYLOAD, '/⭐❌') %> 

<section class="lay_grid_gallery">
  <% PAYLOAD.map(image => { %>
    <a href="treasure/<%= image.imageid %>">
      <div class="c_image">
        <img src="<%= image.baseimageurl %>?height=300&width=300" alt="<%= image.title %>">
      </div>
    </a>
  <% }); %>
</section>