<h1 class="sunken_header">Explore</h1>

<% // console.log('❌⭐ Payload', PAYLOAD, '/⭐❌') %> 

<section class="lay_flex bg_black gallery">
  <% PAYLOAD.map(image => { %>
    <a href="treasure/<%= image.imageid %>">
      <div class="c_image">
        <img src="<%= image.baseimageurl %>?height=300&width=300" alt="<%= image.title %>">
      </div>
    </a>
    <div style="border: 1px solid transparent; display: block; width: 100px; height: 10px;">&nbsp;</div>
  <% }); %>
</section>