<h1>Treasure</h1>

<% // console.log('❌ Payload', PAYLOAD, '/❌') %> 
<% PAYLOAD.map(image => { %>
  <a href="treasure/<%= image.id %>">
    <img src="<%= image.primaryimageurl %>?height=150&width=150" alt="<%= image.title %>">
  </a>
<% }); %>
