<h1>Treasure</h1>

<% // console.log('❌⭐ Payload', PAYLOAD, '/⭐❌') %> 

<% PAYLOAD.map(image => { %>
  <a href="treasure/<%= image.imageid %>">
    <img src="<%= image.baseimageurl %>?height=150&width=150" alt="<%= image.title %>">
  </a>
<% }); %>
