button {
  background: black;
  border: 5px solid white;
  padding: 25px;
  color: white;
  border-radius: 0px;
    font-size: 24px;
  font-weight: bold;
}

.cta {
  margin: 0 50px;
  color: white;
  border-bottom: 5px solid white;
}

.cta.m_black {
  color: black;
  border-color: black;
}