.c_image {
  margin: 175px 75px;  
  flex: 0 0 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.c_image img {
  height: 100%;
}

.c_image.m_full {
  margin: unset;
  flex: unset;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.c_image.m_full img {
  height: unset;
  width: 100%;
}