@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;900&display=swap');

h1, h2, h3, h4, h5, h6, p, span, a, button, input, select, div, input, label {
  font-family: 'Work Sans', sans-serif;
}

a {
  color: var(--ultra);
  text-decoration: none;
  transition: .15s all ease;
}

a:hover {
  /* border-color: var(--ultra); */
}

.sunken_header {
  font-size: 80px;
  transform: translate(-8px, 20px)
  
}

a h1 {
  color: black;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}