:root {
  --border-thickness: 40px;
}

label  {
  font-size: 16px;
}


form {
  display: flex;
  flex-wrap: wrap;
  padding: var(--padding_luxe);  
  justify-content: center;
  width: 50vw;

}

.auth_form {
  border: var(--border-thickness) solid transparent;
}

.auth_form.bg_white {
  border: var(--border-thickness) solid black;
}

.auth_form label {
  color: white;
}

.save_form {
  height: 50vh;
}

.save_form label {
  color: white;
}

.save_form input {
  font-size: 20px;
}

.save_form input {
  border-color: transparent;
  background: black;
  color: white;
}