header {
  display: flex;
  padding: var(--padding_luxe);

}
.nav {
  padding: 0 var(--padding_luxe) var(--padding_luxe) var(--padding_luxe);
  display: flex;

}
.sub-nav {
 flex: 1;
}

.sub-nav.m_right {
  flex: 2;
}

.sub-nav .sub-nav-explore {
  padding: 0 15px;
}