header {
  display: flex;
  padding: 75px;

}
.nav {
  padding: 0 75px 75px 75px;
  display: flex;

}
.sub-nav {
 flex: 1;
}

.sub-nav.m_right {
  flex: 2;
}

.sub-nav .sub-nav-explore {
  padding: 0 15px;
}