.lay_grid_gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
}

.lay_flex {
  display: flex;
  flex-wrap: wrap;
}


.gallery {
  justify-content: space-between;
  width: 100vw;
  overflow: hidden;
}

.lay_flex a:nth-child(even) {
  flex: 1;
}

.lay_flex a:nth-child(odd) {
  flex: 5;
}

.cubicle {
  display: flex;
}

.cubicle-child {
  background: black;
}

.profile {
  padding: var(--padding_luxe);
}

.profile h2 {
  color: white;
}

.profile a {
  color: white;
  border-bottom: 3px solid white;
  margin: 25px 0;
  display: inline-block;
}

