.lay_grid_gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
}

.lay_flex {
  display: flex;
  flex-wrap: wrap;
}


.gallery {
  justify-content: space-between;
  width: 100vw;
  overflow: hidden;
}

.lay_flex a:nth-child(even) {
  /* border: 5px solid crimson; */
  flex: 1;
}

.lay_flex a:nth-child(odd) {
  /* border: 5px solid dodgerblue; */
  flex: 5;
}

.cubicle {
  display: flex;
}

.cubicle-child {
  background: black;
}

.isolated {
 border: 5px solid magenta; 
}