<section class="cubicle">
  <div class="cubicle-child">
    <div class="c_image m_full">
      <img src="<%= PAYLOAD.baseimageurl %>?height=800&width=800" />
    </div>
  </div>

  <div class="cubicle-child">
    <form action="/treasure" method="POST" class="save_form">
      <div class="c_input mg_md_x u_one-line">
        <label for="harvardImageId">
          Image ID:
          <input type="text" name="harvardImageId" value="<%= PAYLOAD.imageid %>">
        </label>
      </div>
      <div class="c_input mg_md_x u_one-line">
        <label for="url">
          Image URL:
          <input type="text" name="url" value="<%= PAYLOAD.baseimageurl %>">
        </label>
      </div>
      <div class="c_input mg_md_x">
        <button type="submit" class="m_light">Save</button>
      </div>
    </form>
  </div>
</section>